
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  top: 180px;
}
